.sliderContainer {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
}

.header {
  margin-bottom: 20px; 
}

.title {
  font-weight: bold; 
  font-size: 48px; 
  line-height: 48px; 
  color: var(--primary-color); 
}

.subtitle {
  font-size: 24px; 
  line-height: 24px; 
  font-weight: 300; 
}

.title span {
  color: var(--primary-color); 
}

.title .products {
  color: black; 
}

.slidesWrapper {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  display: flex;
  gap: 88px;
  justify-content: start;
  width: 100%;
  flex: 0 0 100%;
}

.imageContainer {
  width: 102px;
  height: 77px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 16px;
  height: 7px;
  border-radius: 100px;
  background: rgb(63, 78, 101);
  opacity: 0.1;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  width: 26px;
  background: rgb(255, 200, 94);
  opacity: 1;
}
