$color_1: var(--primary-color);
$color_2: var(--black);
$color_3: var(--gray);

.sliderContainer {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 20px;
	margin-bottom: 40px;

	.header {
		margin-bottom: 20px; 
	  }
	  
	  .title {
		font-weight: bold; 
		font-size: 48px; 
		line-height: 48px; 
		color: var(--primary-color); 
	  }
	  
	  .subtitle {
		font-size: 24px; 
		line-height: 24px; 
		font-weight: 300; 
	  }
	  
	  .title span {
		color: var(--primary-color); 
	  }
	  
	  .title .products {
		color: var(--black); 
	  }

	.swiper__custom {

		.swiper__pagination {
			bottom: 0;
			top: 0;
			left: 0;
			width: 100%;
			position: relative;
			height: 20px;
			display: flex;
			z-index: 1111;
			justify-content: center;


			.swiper-custom-bullet {
				width: 16px;
				height: 7px;
				border-radius: 100px;
				background: var(--gray);
				opacity: 0.1;
				margin: 0 5px;
				cursor: pointer;
				transition: all 0.3s ease;
			}

			.swiper-custom-bullet-active {
				width: 26px;
				background: var(--primary-color);
				opacity: 1;
			}
		}
	}

}

@media (max-width: 768px) {
	.sliderContainer {
	  width: 90%;
	  padding-top: 10px;
	  margin-bottom: 20px;
	}
  
	.header {
	  margin-bottom: 10px;
	  position: relative;
	  padding: 0 10px;
	}
  
	.title {
	  font-size: 20px;
	  color: var(--primary-color);
	  margin-bottom: 5px;
	}
  
	.subtitle {
	  font-size: 12px;
	  font-weight: 300;
	  line-height: 1.2;
	  text-align: left;
	  color: rgb(63, 78, 101);
	}
}