.footer {
    background-color: #3F4E65;
    color: #fff;
    padding: 20px 0px;
}

.footer_text {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.footer_text_block {
    list-style-type: none; 
    padding: 0; 
    margin-top: 8px; 
}

.column {
    width: 27%;
}

.footer_logo_section {
    display: flex;
    flex-direction: column;
}

.company_description {
    font-size: 12px; 
    margin: 0; 
    list-style-type: none;
}

.subscription_title {
    margin-top: 56px; 
    font-size: 10px;
    list-style-type: none; 
}

.input_mail {
    background-color: #ffffff;
    display: inline-block;
    margin: 0 auto;
    color: rgb(83, 83, 83);
    border: none;
    padding: 0px 15px 0px;
    font-size: 10px;
    height: 59px;
    width: 282px;
    cursor: pointer;
    border-radius: 35px;
    margin-top: 12px;
}

.menu_title {
    font-size: 22px; 
    font-weight: bold; 
    margin-bottom: 16px; 
    margin-left: 4px;
    white-space: nowrap;
}

.menu_list {
    list-style-type: none; 
    padding: 0; 
    margin-left: 4px;
}

.menu_list li {
    margin-bottom: 16px; 
    font-size: 12px;
}

.categories_title {
    font-size: 22px; 
    font-weight: bold; 
    margin-bottom: 16px; 
    margin-left: 46px;
}

.categories_list {
    list-style-type: none; 
    padding: 0; 
    margin-left: 46px;
}

.categories_list li {
    margin-bottom: 16px;
    font-size: 12px;
    white-space: nowrap;
}

.price_list_title {
    font-size: 22px; 
    margin-top: 22px; 
    font-weight: bold;
    white-space: nowrap;
    margin-left: 46px;
}

.price_list_section {
    font-size: 12px; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0; 
    margin-left: 46px;
}

.price_list_section img:first-of-type {
    margin-right: 10px; 
}

.price_button {
    background-color: var(--primary-color);
    display: inline-block;
    color: white;
    border: none;
    padding: 0;
    font-size: 15px;
    height: 50px;
    width: 130px;
    cursor: pointer;
    border-radius: 35px;
    margin-left: 0;
}

.no_bullet {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none; 
    margin-left: 0; 
}

.contact_title {
    font-size: 22px; 
    font-weight: bold; 
    margin-bottom: 16px; 
    margin-left: 46px;
}

.contact_phone {
    font-size: 14px; 
    margin-left: 6px;
    margin-bottom: 4px;
}

.contact_email {
    font-size: 14px; 
    margin-top: 24px;
    margin-left: 6px;
}

.contact_work_time,
.contact_question,
.contact_available {
    font-size: 10px;
    margin-left: 6px;
    margin-top: 4px;
}

.contact_question {
    text-decoration: underline; 
    margin-top: 4px;
}

.contact_icons {
    display: flex;
    gap: 10px; 
    margin-top: 10px; 
    margin-left: 6px;
}


