:root {
    --primary-color: rgb(255, 200, 94);
    --dark-yellow: rgb(236, 169, 35);
    --black: rgb(17, 17, 17);
    --white: rgb(255, 255, 255);
    --dark-gray: #333;
    --gray: rgb(63, 78, 101);
    --green: rgb(31, 216, 93);
}


body {
    font-family: 'Inter', sans-serif; 
}

.container {
    /* position: relative; */
    width: 80%;
    margin: 0 auto;
}


@media (max-width: 768px) {

    .container {
        /* position: relative; */
        width: 90%;
        margin: 0 auto;
    }
}