.header {
    width: 80%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFFFFF;
    border-bottom: 1px solid #3F4E65;
}

.loc_name {
    display: flex;
}

.loc_name_block {
    display: flex;
    margin: 20px;
}

.loc_name_text1 {
    margin: -4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.loc_name_text2 {
    margin: -4px;
    font-size: 12px;
    font-weight: 300;
}

.loc_name_ico {
    height: 16px;
    width: 16px;
    margin-right: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.a_1 {
    text-decoration: none;
    margin-left: 28px;
    margin-right: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #3F4E65;
}

.line {
    height: 28px;
    border-left: 1px dashed #3F4E65
}

.a_2 {
    text-decoration: none;
    margin-left: 28px;
    font-size: 14px;
    font-weight: 400;
    color: #3F4E65;
}



.hat {
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hat_logo {
    height: 68px;
    width: 156px;
    align-self: center;
}

.hat_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFC85E;
    color: white;
    border: none;
    border-radius: 80px;
    width: 192px;
    height: 60px;
    cursor: pointer;
}

.hat_button img{
    height: 15px;
    width: 15px;
    align-self: center;
    margin-left: 5px;
}

.hat_button p{
    font-size: 16px;
}

.hat_search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    border: none;
    border-radius: 80px;
    width: 264px;
    height: 60px;
}

.hat_search input{
    width: 180px;
    height: 60px;
    background:none;
    border: none;
    font-size: 12px;
    color: #5C6370;
}

.hat_search button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FFC85E;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
}

.hat_search img{
    height: 16px;
}

.hat_phone_number{
    height: 92px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: right;
}

.hat_phone_number p{
    font-size: 12px;
    color: #3F4E65;
    
}

.hat_phone_link2{
    font-size: 10px;
    font-weight: 400;
    color: #3F4E65;
}


.hat_phone_link{
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #111111;
}

.hat_phone_number img{
    height: 92px;
    margin-left: 10px;
}

.hat_bascket{
    display: flex;
}

.hat_bascket img{
    height: 44px;
}

.hat_bascket_text{
    align-self: center;
}

.hat_bascket_text p{
    margin: 4px;
}

@media (max-width: 768px) { 
 
    .header { 
        /* position: relative; */ 
        width: 92%; 
        margin: 0 auto; 
    } 
 
}