$color_1: var(--primary-color);
$color_2: var(--black);
$color_3: var(--gray);

.sliderContainer {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	padding-top: 0px;
	margin-bottom: 40px;

	.header {
		margin-bottom: 20px; 
	  }
	  
	  .title {
		font-size: 48px; 
		line-height: 48px; 
		color: var(--primary-color); 
	  }
	  
	  .subtitle {
		font-size: 24px; 
		line-height: 24px; 
		font-weight: 300; 
	  }
	  
	  .title span {
		color: var(--primary-color); 
	  }
	  
	  .title .products {
		color: var(--black); 
	  }

	  .slideContent {
		height: 140px; 
		min-width: calc(100% + 2px);           
		display: flex;
		justify-content: center; 
		align-items: center;    
		overflow: hidden;  
	  }
	  
	  img {
		max-height: 100%;             
		object-fit: contain; 	
	  }
}

.swiper__custom {
	.swiper__pagination {
		position: absolute;
		bottom: 10px;
		width: 100%;
		position: relative;
		height: 20px;
		display: flex;
		z-index: -1;
		justify-content: center;

		.swiper-custom-bullet {
			width: 16px;
			height: 7px;
			border-radius: 100px;
			background: var(--gray);
			opacity: 0.1;
			margin: 0 5px;
			cursor: pointer;
			transition: all 0.3s ease;
		}

		.swiper-custom-bullet-active {
			width: 26px;
			background: var(--primary-color);
			opacity: 1;
		}
	}
}

@media (max-width: 768px) {
	.sliderContainer {
	  width: 90%;

	  .header {
		position: relative;
		padding: 0 10px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: 0%;
	  }
	
	  .title {
		font-size: 22px;
		color: var(--primary-color);
		margin-bottom: 2px;
	  }
	
	  .subtitle {
		font-size: 12px;
		font-weight: 300;
		line-height: 1.2;
		text-align: left;
		color: var(--gray);
	  }
	}
} 