


.container {
    /* position: relative; */
    width: 80%;
    margin: 0 auto;
}


@media (max-width: 768px) {

    .container {
        /* position: relative; */
        width: 90%;
        margin: 0 auto;
    }
}


